@model VMCheckout

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="checkOut">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">


                <div class="row">
                    <div class="col-md-12">
                        <h1>Customer Information</h1>
                    </div>
                </div>
                @using (Html.BeginForm("CreateSale", "Shop", FormMethod.Post))
                {
                    @Html.ValidationSummary(true)
                    <div class="row">
                        <div class="checkoutForm">
                            <div style="border-right: 1px solid gray" class="col-md-6">
                                <div class="checkoutLeft">
                                    <p>First* & Last name*  </p> <p class="validation-error">@Html.ValidationMessageFor(m => m.CustomerInfo.FullName)</p>
                                    @Html.TextBoxFor(m => m.CustomerInfo.FullName, new { @class = "checkout-field", id = "name-field" })
                                    <p>Address * </p> <p class="validation-error">@Html.ValidationMessageFor(m => m.CustomerInfo.Address) </p>
                                    @Html.TextBoxFor(m => m.CustomerInfo.Address, new { @class = "checkout-field", id = "address-field" })
                                    <p>Zipcode* & City</p>
                                    <p class="validation-error">
                                        @Html.ValidationMessageFor(m => m.CustomerInfo.ZipCode)
                                        @Html.ValidationMessageFor(m => m.CustomerInfo.City)
                                    </p>
                                    @Html.TextBoxFor(m => m.CustomerInfo.ZipCode, new { @class = "zip", id = "zip-field" })
                                    @Html.TextBoxFor(m => m.CustomerInfo.City, new { @class = "city", id = "city-field" })
                                    <p> Country * </p>
                                    <p class="validation-error">
                                        @Html.ValidationMessageFor(m => m.CustomerInfo.Country)
                                    </p>
                                    @Html.TextBoxFor(m => m.CustomerInfo.Country, new { @class = "checkout-field", id = "country-field" })
                                    <p>Email* </p>
                                    <p class="validation-error">@Html.ValidationMessageFor(m => m.CustomerInfo.Email)</p>
                                    @Html.TextBoxFor(m => m.CustomerInfo.Email, new { @class = "checkout-field", id = "email-field" })
                                    <p>Phone</p>
                                    @Html.TextBoxFor(m => m.CustomerInfo.Phone, new { @class = "checkout-field", id = "phone-field" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkoutRight">
                                    <h4>Summary</h4>
                                    <hr />
                                    @{
                                        decimal total = 0;
                                    }

                                    @foreach (var p in Model.Products)
                                    {
                                        var quantity = Model.SessionProducts.Where(x => x.productId == p.ID).FirstOrDefault().quantity;
                                        <p>@p.Name x @quantity</p>
                                        <span>@(p.Price * quantity) DKK</span>
                                        <hr />
                                        total += (decimal)(p.Price * quantity);
                                    }
                                    <div class="total">
                                        <p>Total</p>
                                        <span>@total DKK</span>
                                    </div>


                                    <div class="clear"></div>

                                    <h4>Comment</h4>
                                    @Html.TextAreaFor(x => x.CustomerInfo.Comment, new { @class="checkout-field", id="comment-field"})

                                    <input type="submit" value="Complete order" />
                                </div>
                            </div>
                        </div>
                    </div>
                                        }
            </div>

        </div>
    </div>

</main>
