@using BoardGameSleeveWebsite.ViewModels
@using System.Text;
@model VMGames

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section script
{
	<script src="/scripts/Games.js"></script>
}

<main class="games">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Games</h1>
				<p>Find all the games we support here</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<table class="GamesTable">
					<thead>
						<tr>
							<th class="column-active" onclick="sortGame();">Find by Game</th>
							<th onclick="sortSize();">Find by Size</th>
						</tr>
					</thead>
					<tbody>
						@{
							List<VMGames.GameItemFirst> games = Model.gameItems;
							for (int i = 0; i < games.Count; i++)
							{
								<tr>
									<td>@games[i].Name</td>
									<td>
										@for (int j = 0; j < games[i].Sizes.Count; j++)
										{
											string href = "href=/product/size/" + games[i].Sizes[j].Item1;
											if (j + 1 < games[i].Sizes.Count)
											{
												<a @href>@games[i].Sizes[j].Item2</a><span>,</span>
											}
											else
											{
												<a @href>@games[i].Sizes[j].Item2</a>
											}
										}
									</td>
								</tr>
							}
						}
					</tbody>
					<tbody style="display:none;">
						@{
							List<VMGames.SizeItemFirst> sizes = Model.sizeItems;
							for (int i = 0; i < sizes.Count; i++)
							{
								<tr>
									@{ 
										string href = "href=/product/size/" + sizes[i].Id;
									}
									<td><a @href>@sizes[i].Name</a></td>
									<td>
										@if (sizes[i].Games.Count == 0)
										{
											<span style="color:gray">None</span>
										}
										else
										{
											for (int j = 0; j < sizes[i].Games.Count; j++)
											{
												@sizes[i].Games[j]
												if (j < sizes[i].Games.Count)
												{
													<br />
												}
											}
										}
									</td>
								</tr>
							}
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</main>
