@using BoardGameSleeveWebsite.ViewModels
@model VMCreateProduct

@{
    ViewBag.Title = "CreateProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="createProduct">
    <div class="row">
        <div class="col-md-12">
            <h2>Create Product</h2>
        </div>
    </div>
    @using (Html.BeginForm("CreateProduct", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
        <div class="row">
            <div class="col-md-4">
                <p>Name</p>
                @Html.TextBoxFor(m => m.Name)

                <p>Description</p>
                @Html.TextAreaFor(m => m.Description)

                <p>Color</p>
                @Html.TextBoxFor(m => m.Color)

                <p>Price</p>
                @Html.TextBoxFor(m => m.Price)

                <p>Product in pack</p>
                @Html.TextBoxFor(m => m.SleeveCountInProduct)

                <p>In Stock</p>
                @Html.TextBoxFor(m => m.InStock)

            </div>
            <div class="col-md-4">
                <p>Chose Size</p>
                @foreach (var item in Model.Size)
                {
                    @Html.RadioButtonFor(m => m.selectedSize, item.ID)
                    @Html.Label(item.Name)
                    <br />
                }


                <p></p>

                <label for="file">Upload Image:</label>
                <input type="file" name="file" id="file" style="width: 100%;" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="submit" value="Create Product" class="submit" />
            </div>

        </div>
    }
</div>
