@model List<Product>
@{
    ViewBag.Title = "createProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    bool? isValid = (bool?)ViewData["isValid"];
    string type = (string)ViewData["type"];
}

<script>
    $(document).ready(function () {
        var bool = @Json.Encode(isValid);


        if(bool === true && bool != null){
            var text = @Html.Raw(Json.Encode(type));
            $('.delete-popup').fadeIn();
            $('.delete-popup h3').text('The product has been ' + text);
            setTimeout(function () {
                $(".delete-popup").fadeOut();
                $('.delete-popup h3').text("");
            }, 3000);

        }
    });
</script>

<div class="row">
    <div class="col-md-12">
        <h2>Board Game Sleeves</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <h3>All board Game Sleeves</h3>

        <div class="listOverview">
            <ul>
                @{
                    foreach (var product in Model.OrderBy(x => x.Name))
                    {
                        <li class="@product.ID">
                            Navn: @product.Name - Color: @product.Color - SizeName: @product.Size.Name - Pris: @product.Price

                            <div data-id="@product.ID" id="delete-product-button" title="Delete Product">
                                <img width="20" src="~/img/RemoveItemIcon2.png" />
                            </div>

                            <a id="edit-product-button" title="Edit Product" href='@Url.Action("editProduct", new { id = @product.ID })'>
                                <img width="23" src="/img/edit-icon.png" />
                            </a>

                        </li>
                    }
                }
            </ul>



        </div>
    </div>

    <div class="col-md-2">
        <h3>Create a New Product</h3>
        <a class="createProductButton" href="/admin/createproduct">Create Product</a>
    </div>
</div>

<div class="delete-popup">
    <h3></h3>
</div>


