@using BoardGameSleeveWebsite.ViewModels
@model List<Size>

@{
    ViewBag.Title = "Size";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="createSize">
    <div class="row">
        <div class="col-md-12">
            <h2>Board Game Sizes</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>All Sizes</h3>
            <div class="listOverview">
                <ul>
                    @{
                        foreach (var size in Model.OrderBy(x => x.Name))
                        {
                            <li class="@size.ID">
                                <strong>Name:</strong> @size.Name - <strong>Width:</strong> @size.Width - <strong>Height:</strong>                                 @size.Height

                                <div data-id="@size.ID" id="delete-size-button" title="Delete Product">
                                    <img width="20" src="~/img/RemoveItemIcon2.png" />
                                </div>

                                <a id="edit-size-button" title="Edit Product" href='@Url.Action("EditSize", new { id = @size.ID })'>
                                    <img width="23" src="/img/edit-icon.png" />
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <h3>Create </h3>
            <p>Width</p>
            <input type="number" name="Width" value="1" id="width-Size" />

            <p>Height</p>
            <input type="number" name="Height" value="1" id="height-Size" />

            <p>Size Name (Eks. Large)</p>
            <input type="text" name="Name" value="" id="name-Size" />

            <p>Description</p>
            <textarea name="Name" value="" id="description-Size"></textarea>

            <div id="create-size-button">CREATE SIZE</div>
        </div>
    </div>
</div>

<div class="delete-popup">
    <h3></h3>
</div>
