@using BoardGameSleeveWebsite.ViewModels
@model VMProducts

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}

<main class="products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>SEE OUR SELECTION OF BOARD GAME SLEEVES HERE</h1>
            </div>
        </div>
        <hr />
        <div class="row">
            @foreach (var p in Model.Products)
            {
                count++;
                <div class="col-md-4">
                    <div class="product">
                        @{
                            string href = "/product/size/" + p.SizeID;
                        }
                        <a href=@href><img src="~/img/Products/@p.Img" /></a>                          
                        
                        <h3>Board Game Sleeves •  @p.SizeName</h3>
                        <h4>Size: @p.Width x @p.Height mm</h4>
                        <h4>
                            Colors: @foreach (var c in p.Colors)
                            {
                                if (c == p.Colors.Last())
                                {
                                    @c
                                }

                                else
                                {
                                    @c@:,
                                }
                            }
                        </h4>
                        @if (p.Games != null)
                        {
                            <h4>Popular for use with:</h4>
                            <ul>
                                @foreach (var g in p.Games)
                                {
                                    <li>- @g</li>
                                }
                                <li>
                                    - and many more
                                </li>
                            </ul>
                        }
                        
                        <a class="productLink" href=@href>
                            Select this size
                        </a>
                    </div>
                </div>
                    if (count == 3)
                    {
                        count = 0;
                        @Html.Raw("</div> <hr /> <div class=\"row\">");
       
                    }
                
               }
        </div>
     </div>
</main>
