@using BoardGameSleeveWebsite.ViewModels
@model VMProductSingle

@{
	ViewBag.Title = "SingleProduct";
	Layout = "~/Views/Shared/_Layout.cshtml";
	Product product = Model.Product;

	string productName = product.Name;
	string title = product.Size.Name;
	string price = product.Price.ToString() + " kr.";
	string color = product.Color;
	string width = product.Size.Width.ToString() + "mm";
	string height = product.Size.Height.ToString() + "mm";
    int productId = product.ID;
}

@section css{
	<style>
		#ps-productname
		{
			margin-bottom: 0;
			margin-top: 5px;
		}
		#ps-title
		{
			margin-top: 5px;
		}
	</style>
}


<main class="productPage">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="product-image">
                    <img src="http://www.arcanetinmen.dk/images/board-game-sleeves-large-1024-14.jpg" alt="image-product">
                </div>
            </div>
            <div class="col-md-6">
                <div id="product-info">
					<h2 id="ps-productname">@productName</h2>
                    <h3 id="ps-title">@title</h3>
                    <p>Price: @price</p>
                    <hr>
                    <p>Color: @color</p>
                    <p>Width: @width</p>
                    <p>Height: @height</p>
                    <hr>
                    <p>Dispatch: Ships within 7-10 days</p>
                    <div id="add-to-cart">
                        <p>Quantity </p>
                        <input type="number" name="quantity" min="1" id="quantity-product">
                        <input type="hidden" name="productId" id="productId" value="@productId"/>
                        <div id="add-cart-button">Add to Cart</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="product-games">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="product-header">
                                <h2>Game to use</h2>
                            </div>
                        </div>
                    </div>
                    <ul>
                        <li><a>A Game of Thrones LCG™</a></li>
                        <li>Dominant Species™</li>
                        <li>Eaten by Zombies!™</li>
                        <li>Race for the Galaxy™</li>
                        <li>Call of Cthulhu LCG™</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div id="product-description">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="product-header">

                                <h2>Description</h2>
                            </div>
                        </div>
                    </div>

                    <p>Card Game Card Sleeves <br />Expertly engineered to fit all of your favorite games with cards sized 63.5x88mm!</p>
                </div>
            </div>
        </div>
    </div>
</main>



