@using BoardGameSleeveWebsite.ViewModels
@model VMContactForm
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container contact">
    <div class="row">
        <div class="col-xs-12">
            <h2>CONTACT US</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h2>Address</h2>
            <div class="row">
                <div class="col-md-6">

                    <h3 class="marginTop0">Board Game Sleeves</h3>
                    <span>
                        Bjoernholms Allé 4-6 <br />
                        DK-8260 Viby J <br />
                        Denmark  <br />
                        <br />
                        <span class="colorGray">Phone: </span> 0045 8676 5636<br />
                        <span class="colorGray">Email: </span>info@arcanetinmen.dk
                    </span>
                </div>
                <div class="col-md-6">
                    <div id="googlemaps">
                        <img src="~/img/maps.PNG" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <h2>Contact Formula</h2>

            @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
            {
                <p>First* & Last name*  </p>
                @Html.TextBoxFor(m => m.Name, new { @class = "checkout-field", id = "name-field" })
                <p class="validation-error">@Html.ValidationMessageFor(m => m.Name)</p>

                <p>Email*  </p>
                    @Html.TextBoxFor(m => m.Email, new { @class = "checkout-field", id = "Email-field" })
                    <p class="validation-error">@Html.ValidationMessageFor(m => m.Email)</p>

                    <h4>Message</h4>
                    @Html.TextAreaFor(x => x.Message, new { @class = "checkout-field", id = "Message-field" })
                    <p class="validation-error">@Html.ValidationMessageFor(m => m.Message)</p>

                    <input type="submit" value="Send Email" />
            }
            <h3>
                @ViewBag.signifier
            </h3>

        </div>
    </div>
</div>
